player-connection-mode=Connect
player-connection-guid=3088330997
player-connection-debug=0
player-connection-project-name=ECS_Dots
player-connection-wait-timeout=-1
player-connection-ip=192.168.0.105
profiler-enable=1
gfx-enable-gfx-jobs=1
gfx-threading-mode=6
wait-for-native-debugger=0
hdr-display-enabled=0
build-guid=1d6ab2956d89480f92bf84196aa329dd
